# 공통 + 기본 프로필 지정
spring:
  application:
    name: backend
  profiles:
    default: h2
---
# H2 프로필
spring:
  config:
    activate:
      on-profile: h2
  datasource:
    url: jdbc:h2:mem:str;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: Asia/Seoul
  h2:
    console:
      enabled: true
      path: /h2-console
---
# MySQL 프로필
spring:
  config:
    activate:
      on-profile: mysql
  datasource:
    url: jdbc:mysql://localhost:3306/db
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
